@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@300&family=Oswald:wght@200&display=swap");

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", */
  /* "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
