@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@300&family=Oswald:wght@200&display=swap");
#items {
  background-color: rgb(220, 211, 253);
  /* border: 1px solid black; */
  /* min-height: 44px; */
  border-radius: 4px;
  width: 80%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: #8f0000;
  justify-content: center;
  align-content: baseline;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.comida {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 5px;
}

h6 {
  margin: 0px;
}

h5 {
  font-weight: bolder;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titulo-central {
  display: flex;
  justify-content: center;
}

p {
  margin: auto;
  /* padding: 0px 5px; */
  word-spacing: 0.001px;
  font-family: "Oswald", sans-serif;
  font-size: 4;
  font-weight: 100;
  letter-spacing: 0.1px;
}
.nombre {
  /* padding: 0px 5px; */
  font-weight: bolder;
}
.precio {
  /* padding-right: 5px; */
  font-weight: bolder;
}

.descripcion {
  width: 90%;
  padding: 15px 20px;
  max-width: 420px;
}

a {
  text-decoration: none;
}
